<li class="path">
  <header ng-click="toggleFold(['paths', path.pathName])">
    <h2>
      <a>{{path.pathName}}</a>
    </h2>
    <span class="on-hover">
      <a ng-click="toggleFold(['paths', path.pathName])" ng-hide="isFolded(['paths', path.pathName, ALL]) || isCollapsed(['paths', path.pathName])" stop-event>List all operations</a>
    </span>
    <a class="jump-to-yaml" ng-click="focusEdit($event, ['paths', path.pathName])" tooltip-placement="left" tooltip="Jump to YAML" tooltip-trigger="mouseenter"></a>
  </header>
  <ul class='operations' collapse-when="isFolded(['paths', path.pathName])">
    <operation ng-repeat="operation in path.operations track by $index" ng-if="!isVendorExtension(operation.operationName)"></operation>
  </ul>
</li>
